body{
    font-family:sans-serif;
    background-image: url('gtr.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


input[type=email], input[type=password]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

form{
    width:30rem;
    margin: 110px 500px;
    color:white;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

.heading{
    text-align: center;
}
.Container1{
    padding: 16px;
}

.Container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Container2 a{
    font-size: 16px;
    margin-bottom: 12px;
}
fpwd a {
    float: right;
    color: white;
    padding-top: 16px;
  }

.fpwd a{
    color: yellow;
  }
  
.fpwd a:link{
    text-decoration: none;
  }

  .reg{
    color: white;
    text-align: center;
  }
  
  .reg a{
    color: yellow;
  }
  
  .reg a:link{
    text-decoration: none;
  }

