body{
 	background-image: url('logincar.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	font-family: 'Times New Roman', Times, serif;
	color: rgb(255, 0, 0);
	text-align: center;
	font-size: 50px;
	/* border: 2px solid black; */
	margin-top: 300px;
}

.form{
	border: 2px solid red;
	margin-top: 60px;
	padding: 20px;
}

.btn1{
	border: 2px solid red;
	border-radius: 10px;
	margin: 30px;
	margin-left: 70px;
	padding: 10px 50px;
	background-color: rgb(157, 255, 122);
}
.btn2{
	border: 2px solid red;
	border-radius: 10px;
	margin: 30px;
	margin-left: 70px;
	padding: 10px 30px;
	background-color: rgb(157, 255, 122);
}
.btn3{
	border: 2px solid red;
	border-radius: 10px;
	margin: 30px;
	margin-left: 70px;
	padding: 10px 30px;
	background-color: rgb(157, 255, 122);
}
.btn:hover{
	background-color: yellowgreen;
}
.btn1:hover{
	background-color: yellowgreen;
}

/* .form.button.ADMIN{
	background-color: red;
} */
